.campo{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 95%;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 2.36rem;
    width: 100%;
    
}

.campo label{
    font-size: 1.356rem;
    font-family: 'Prata', serif;
    color: #212121;
    font-weight: 600;
}

.campo input{
    width: 100%;
    background-color: #FFFFFF;
    mix-blend-mode: normal;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 35px 20px;
    border: none;
    outline-color:#6278F7 ;
    font-size: 1.323rem;
    box-sizing: border-box;
}

.campo-color input{
    height: 40px;
    padding: 5px 20px;
}

@media screen and (max-width: 768px) {
    .campo label{
        font-size: 1.06rem;
     
    }

    .campo input{
        width: 100%;
        font-size: 1.02rem;
        padding: 20px 5px;
    
    }
}
